In [34]:
import pandas as pd

In [2]:
df=pd.read_csv("Downloads/movies_data/movies.csv")

In [3]:
df.shape

(9742, 3)

In [4]:
df1=pd.read_csv("Downloads/movies_data/ratings.csv")

In [5]:
df1.shape

(100836, 4)

In [6]:
df1.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [7]:
un_count=df1.userId.unique()

In [8]:
len(un_count)

610

In [9]:
df1.isnull().sum()

userId       0
movieId      0
rating       0
timestamp    0
dtype: int64

In [10]:
df.isnull().sum()

movieId    0
title      0
genres     0
dtype: int64

In [11]:
dup=df.duplicated()

In [12]:
dup_1=dup.sum()

In [13]:
dup_1

np.int64(0)

In [14]:
dupp=df1.duplicated()

In [15]:
dupp_1=dupp.sum()

In [16]:
dupp_1

np.int64(0)

In [17]:
df.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [18]:
df1.head(20)

    userId  movieId  rating  timestamp
0        1        1     4.0  964982703
1        1        3     4.0  964981247
2        1        6     4.0  964982224
3        1       47     5.0  964983815
4        1       50     5.0  964982931
5        1       70     3.0  964982400
6        1      101     5.0  964980868
7        1      110     4.0  964982176
8        1      151     5.0  964984041
9        1      157     5.0  964984100
10       1      163     5.0  964983650
11       1      216     5.0  964981208
12       1      223     3.0  964980985
13       1      231     5.0  964981179
14       1      235     4.0  964980908
15       1      260     5.0  964981680
16       1      296     3.0  964982967
17       1      316     3.0  964982310
18       1      333     5.0  964981179
19       1      349     4.0  964982563

In [19]:
num=df1.rating.max()

In [20]:
num

np.float64(5.0)

In [21]:
df2=pd.merge(df,df1,on="movieId")

In [22]:
df2.head()

,movieId,title,genres,userId,rating,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1,4.0,964982703
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5,4.0,847434962
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,7,4.5,1106635946
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,15,2.5,1510577970
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,17,4.5,1305696483

In [23]:
count1=df2.groupby("title").size()

In [24]:
count1

title
'71 (2014)                                    1
'Hellboy': The Seeds of Creation (2004)       1
'Round Midnight (1986)                        2
'Salem's Lot (2004)                           1
'Til There Was You (1997)                     2
                                             ..
eXistenZ (1999)                              22
xXx (2002)                                   24
xXx: State of the Union (2005)                5
¡Three Amigos! (1986)                        26
À nous la liberté (Freedom for Us) (1931)     1
Length: 9719, dtype: int64

In [25]:
count1.max()

np.int64(329)

In [26]:
count2=count1.idxmax()

In [27]:
count2

'Forrest Gump (1994)'

In [28]:
title1 = "Terminator 2: Judgment Day (1991)"
count3 = df2[df2['title'] == title1]

In [29]:
count3

,movieId,title,genres,userId,rating,timestamp
15651,589,Terminator 2: Judgment Day (1991),Action|Sci-Fi,5,3.0,847435258
15652,589,Terminator 2: Judgment Day (1991),Action|Sci-Fi,6,3.0,845553317
15653,589,Terminator 2: Judgment Day (1991),Action|Sci-Fi,7,2.5,1106635940
15654,589,Terminator 2: Judgment Day (1991),Action|Sci-Fi,11,4.0,902154266
15655,589,Terminator 2: Judgment Day (1991),Action|Sci-Fi,15,5.0,1510572012
...,...,...,...,...,...,...
15870,589,Terminator 2: Judgment Day (1991),Action|Sci-Fi,606,3.5,1171325855
15871,589,Terminator 2: Judgment Day (1991),Action|Sci-Fi,607,4.0,963078960
15872,589,Terminator 2: Judgment Day (1991),Action|Sci-Fi,608,3.0,1117415154
15873,589,Terminator 2: Judgment Day (1991),Action|Sci-Fi,609,3.0,847220990
15874,589,Terminator 2: Judgment Day (1991),Action|Sci-Fi,610,5.0,1479542983

In [30]:
count3.describe()

       movieId      userId      rating     timestamp
count    224.0  224.000000  224.000000  2.240000e+02
mean     589.0  306.580357    3.970982  1.105281e+09
std        0.0  177.744092    0.926833  2.285163e+08
min      589.0    5.000000    0.500000  8.326953e+08
25%      589.0  163.000000    3.500000  8.537571e+08
50%      589.0  306.000000    4.000000  1.066162e+09
75%      589.0  450.500000    5.000000  1.272957e+09
max      589.0  610.000000    5.000000  1.535710e+09

In [31]:
count3["rating"].mean()

np.float64(3.970982142857143)

In [35]:
title2 = "Fight Club (1999)"
count4 = df2[df2['title'] == title2]

In [37]:
import matplotlib.pyplot as plt 
import seaborn as sns

ImportError: cannot import name '_c_internal_utils' from partially initialized module 'matplotlib' (most likely due to a circular import) (C:\Users\Spoorti\matplotlib\__init__.py)

In [ ]:
plt.figure(figsize=(10, 6))
sns.histplot(count4['rating'], bins=5, kde=True)
plt.title("Distribution ")
plt.xlabel('Rating')
plt.ylabel('dist')
plt.show()

In [38]:
df3 = df1.groupby('movieId')['rating'].agg(['count', 'mean']).reset_index()

In [39]:
df3.head()

   movieId  count      mean
0        1    215  3.920930
1        2    110  3.431818
2        3     52  3.259615
3        4      7  2.357143
4        5     49  3.071429

In [40]:
df4 = pd.merge(df, df3, on='movieId', how='inner')

In [41]:
df4 = df4[df4['count'] > 50]

In [42]:
df4.head()

,movieId,title,genres,count,mean
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,215,3.920930
1,2,Jumanji (1995),Adventure|Children|Fantasy,110,3.431818
2,3,Grumpier Old Men (1995),Comedy|Romance,52,3.259615
5,6,Heat (1995),Action|Crime|Thriller,102,3.946078
6,7,Sabrina (1995),Comedy|Romance,54,3.185185

In [43]:
popular_movie = df4.loc[df4['mean'].idxmax()]

In [45]:
popular_movie

movieId                                 318
title      Shawshank Redemption, The (1994)
genres                          Crime|Drama
count                                   317
mean                               4.429022
Name: 277, dtype: object

In [49]:
num3=df4.sort_values(by='count',ascending=False)

In [50]:
num3.head()

,movieId,title,genres,count,mean
314,356,Forrest Gump (1994),Comedy|Drama|Romance|War,329,4.164134
277,318,"Shawshank Redemption, The (1994)",Crime|Drama,317,4.429022
257,296,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller,307,4.197068
510,593,"Silence of the Lambs, The (1991)",Crime|Horror|Thriller,279,4.161290
1938,2571,"Matrix, The (1999)",Action|Sci-Fi|Thriller,278,4.192446

In [51]:
df5= df4[df4['genres'].str.contains('Sci-Fi')]

In [52]:
num4 = df5.sort_values(by='count', ascending=False)

In [54]:
num4.iloc[2]

movieId                                 480
title                  Jurassic Park (1993)
genres     Action|Adventure|Sci-Fi|Thriller
count                                   238
mean                                   3.75
Name: 418, dtype: object

In [55]:
df6=pd.read_csv("Downloads/movies_data/links.csv")

In [56]:
df6.head()

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0